# Current Covid API Data

In [17]:
import pandas as pd
import requests

df_curr = pd.read_csv('https://api.covidtracking.com/v1/states/current.csv')

In [41]:
df_curr.to_csv('covid_current.csv')

In [18]:
df_curr = pd.read_csv('covid_current.csv')

In [19]:
cols = ['state', 'positive']

In [20]:
df_curr[cols].shape

(56, 2)

# Historical Covid API Data

In [30]:
df_hist = pd.read_csv('https://api.covidtracking.com/v1/states/daily.csv')

In [31]:
df_hist.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200824,AK,5628.0,324875.0,NaN,43.0,NaN,NaN,NaN,8.0,...,330503,0,0,54865e3eaef9af79f98d4ca570197186492760a0,0,0,0,0,0,NaN
1,20200824,AL,116710.0,806609.0,NaN,1149.0,13793.0,NaN,1391.0,NaN,...,923319,11,291,2fe1d500d143b2a7f02117934c2c53d0b2648560,0,0,0,0,0,NaN
2,20200824,AR,56894.0,616810.0,NaN,466.0,3962.0,NaN,NaN,108.0,...,673704,9,42,51dc585c49ed43ee35e01760e30b6b7aa792afe6,0,0,0,0,0,NaN
3,20200824,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,c878baea61754904c3c233d78e523723e2f4a8e1,0,0,0,0,0,NaN
4,20200824,AZ,198414.0,958808.0,NaN,908.0,21219.0,345.0,NaN,176.0,...,1157222,0,-22,a3a22a4967b6ca06481f5aa38b1c59235db23f87,0,0,0,0,0,NaN

In [39]:
df_hist.to_csv('daily.csv')

In [22]:
df_hist = pd.read_csv('daily.csv')

In [23]:
df_hist.head()

,Unnamed: 0,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,0,20200824,AK,5628.0,324875.0,NaN,43.0,NaN,NaN,NaN,...,330503,0,0,54865e3eaef9af79f98d4ca570197186492760a0,0,0,0,0,0,NaN
1,1,20200824,AL,116710.0,806609.0,NaN,1149.0,13793.0,NaN,1391.0,...,923319,11,291,2fe1d500d143b2a7f02117934c2c53d0b2648560,0,0,0,0,0,NaN
2,2,20200824,AR,56894.0,616810.0,NaN,466.0,3962.0,NaN,NaN,...,673704,9,42,51dc585c49ed43ee35e01760e30b6b7aa792afe6,0,0,0,0,0,NaN
3,3,20200824,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,c878baea61754904c3c233d78e523723e2f4a8e1,0,0,0,0,0,NaN
4,4,20200824,AZ,198414.0,958808.0,NaN,908.0,21219.0,345.0,NaN,...,1157222,0,-22,a3a22a4967b6ca06481f5aa38b1c59235db23f87,0,0,0,0,0,NaN

# PPP Loan Data > 150k

In [24]:
df_loan = pd.read_csv('data/ppp_150.csv')

In [25]:
df_loan.head()

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,Unanswered,Unanswered,Unanswered,Y,295.0,04/14/2020,"National Cooperative Bank, National Association",AK - 00
1,a $5-10 million,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,Unanswered,Unanswered,Unanswered,NaN,215.0,04/15/2020,First National Bank Alaska,AK - 00
2,a $5-10 million,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,Unanswered,Unanswered,Unanswered,NaN,367.0,04/11/2020,KeyBank National Association,AK - 00
3,a $5-10 million,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),Unanswered,Unanswered,Unanswered,NaN,0.0,04/29/2020,Truist Bank d/b/a Branch Banking & Trust Co,AK - 00
4,a $5-10 million,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,Unanswered,Unanswered,Unanswered,NaN,267.0,06/10/2020,CoBank ACB,AK - 00

In [35]:
len(df_loan)

661218

In [61]:
df_addr = df_loan[['LoanRange', 'Address', 'City', 'State', 'Zip']].dropna()

In [65]:
df_addr[df_addr['State'] == 'XX']

,LoanRange,Address,City,State,Zip
661203,"d $350,000-1 million",1850 BOYER AVE E,SEATTLE,XX,98112.0
661204,"d $350,000-1 million",1661 MARTIN RANCH RD,SAN BERNARDINO,XX,92407.0
661205,"d $350,000-1 million",7684 Southrail Road,NORTH CHARLESTON,XX,29420.0
661206,"d $350,000-1 million",2410 Highway 15 South,SUMTER,XX,29150.0
661209,"e $150,000-350,000",501 State Road 13,SAINT JOHNS,XX,32259.0

In [66]:
df_addr = df_addr[df_addr['State'] != 'XX']

In [67]:
len(df_addr)

661195

In [68]:
test_addr = df_addr.iloc[0].Address + ', ' + df_addr.iloc[0].City + ', ' + df_addr.iloc[0].State
test_addr

'7000 Uula St, BARROW, AK'

# Google Maps API

In [1]:
import googlemaps
from datetime import datetime as dt

file = open('api_key.txt', 'r')
key = file.read()

gmaps = googlemaps.Client(key)

geo = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

print(geo)

[{'address_components': [{'long_name': '1600', 'short_name': '1600', 'types': ['street_number']}, {'long_name': 'Amphitheatre Parkway', 'short_name': 'Amphitheatre Pkwy', 'types': ['route']}, {'long_name': 'Mountain View', 'short_name': 'Mountain View', 'types': ['locality', 'political']}, {'long_name': 'Santa Clara County', 'short_name': 'Santa Clara County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '94043', 'short_name': '94043', 'types': ['postal_code']}], 'formatted_address': '1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA', 'geometry': {'location': {'lat': 37.4220656, 'lng': -122.0840897}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 37.4234145802915, 'lng': -122.0827407197085}, 'southwest': {'lat': 37.4207166197085, 'lng': -122.0854386802915}}}, 'place_id': 'ChIJVYBZP-Oxj4ARls-qJ_G3tgM', 'plus_code': {'compound_code': 'CWC8+R9 Mountain View, CA, USA', 'global_code': '849VCWC8+R9'}, 'types': ['street_address']}]

In [5]:
import json

In [55]:
geo[0]['geometry']['location']

{'lat': 71.2989367, 'lng': -156.7286143}

In [52]:
geo = gmaps.geocode(test_addr)

print(geo[0]['geometry']['location'])

{'lat': 71.2989367, 'lng': -156.7286143}

# 5 dollars per 1,000 requests?!?!?!

In [ ]:
# import folium

# # create map
# m = folium.Map(location=[42, -71], zoom_start=12)

# # global tooltip
# tooltip = 'Click for more info'

# # create markers
# # folium.Marker([42, -71],
# #     popup='<strong>Location One</strong>',
# #     tooltip=tooltip
# # ).add_to(m)

# # circle marker
# folium.CircleMarker(
#     location=[42, -71],
#     radius=50,  # use for loan size? scale to size of loan? normalize these?
#     popup='50',  # loan value
#     color='blue',  # color according to some histogram?
#     fill=True,
#     fill_color='blue'
# ).add_to(m)

# # generate map
# m.save('map.html')

In [53]:
import folium as f

In [69]:
loan = df_addr.iloc[0].LoanRange

In [71]:
import re

In [83]:
loan

'a $5-10 million'

In [75]:
dollars = re.compile(r"(?P<amt>\d+)|(?P<mag>million|thousand)")

In [84]:
re.search(dollars, loan)

In [94]:
lr = loan_range = re.findall(dollars, loan)
lr = str(1.*(int(lr[1][0]) + int(lr[0][0]))/2) + ' ' + lr[2][1]

In [95]:
lr

'7.5 million'

In [60]:
lat, long = geo[0]['geometry']['location']['lat'], geo[0]['geometry']['location']['lng']
m = f.Map([lat, long], zoom_start=12)

In [97]:
f.CircleMarker(
    location=[lat, long],
    radius=lr,  # use for loan size? scale to size of loan? normalize these?
    popup=str(lr),  # loan value
    color='blue',  # color according to some histogram?
    fill=True,
    fill_color='blue'
).add_to(m)

In [98]:
m.save('ppp_test_map.html')