# Current Covid API Data

In [1]:
import pandas as pd
import requests

df_curr = pd.read_csv('https://api.covidtracking.com/v1/states/current.csv')

In [41]:
df_curr.to_csv('covid_current.csv')

In [3]:
df_curr = pd.read_csv('covid_current.csv')

In [19]:
cols = ['state', 'positive']

In [20]:
df_curr[cols].shape

(56, 2)

# Historical Covid API Data

In [30]:
df_hist = pd.read_csv('https://api.covidtracking.com/v1/states/daily.csv')

In [31]:
df_hist.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200824,AK,5628.0,324875.0,NaN,43.0,NaN,NaN,NaN,8.0,...,330503,0,0,54865e3eaef9af79f98d4ca570197186492760a0,0,0,0,0,0,NaN
1,20200824,AL,116710.0,806609.0,NaN,1149.0,13793.0,NaN,1391.0,NaN,...,923319,11,291,2fe1d500d143b2a7f02117934c2c53d0b2648560,0,0,0,0,0,NaN
2,20200824,AR,56894.0,616810.0,NaN,466.0,3962.0,NaN,NaN,108.0,...,673704,9,42,51dc585c49ed43ee35e01760e30b6b7aa792afe6,0,0,0,0,0,NaN
3,20200824,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,c878baea61754904c3c233d78e523723e2f4a8e1,0,0,0,0,0,NaN
4,20200824,AZ,198414.0,958808.0,NaN,908.0,21219.0,345.0,NaN,176.0,...,1157222,0,-22,a3a22a4967b6ca06481f5aa38b1c59235db23f87,0,0,0,0,0,NaN

In [39]:
df_hist.to_csv('daily.csv')

In [22]:
df_hist = pd.read_csv('daily.csv')

In [23]:
df_hist.head()

,Unnamed: 0,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,0,20200824,AK,5628.0,324875.0,NaN,43.0,NaN,NaN,NaN,...,330503,0,0,54865e3eaef9af79f98d4ca570197186492760a0,0,0,0,0,0,NaN
1,1,20200824,AL,116710.0,806609.0,NaN,1149.0,13793.0,NaN,1391.0,...,923319,11,291,2fe1d500d143b2a7f02117934c2c53d0b2648560,0,0,0,0,0,NaN
2,2,20200824,AR,56894.0,616810.0,NaN,466.0,3962.0,NaN,NaN,...,673704,9,42,51dc585c49ed43ee35e01760e30b6b7aa792afe6,0,0,0,0,0,NaN
3,3,20200824,AS,0.0,1514.0,NaN,NaN,NaN,NaN,NaN,...,1514,0,0,c878baea61754904c3c233d78e523723e2f4a8e1,0,0,0,0,0,NaN
4,4,20200824,AZ,198414.0,958808.0,NaN,908.0,21219.0,345.0,NaN,...,1157222,0,-22,a3a22a4967b6ca06481f5aa38b1c59235db23f87,0,0,0,0,0,NaN

# PPP Loan Data > 150k

In [6]:
import pandas as pd

In [43]:
df_loan = pd.read_csv('data/ppp_150.csv')

cols = ['LoanRange', 'BusinessName', 'Address', 'City', 'State', 'Zip', 'NAICSCode', 'BusinessType', 'JobsRetained']

In [44]:
df_loan_strip = df_loan[cols]

In [28]:
df_loan_strip.size

5950962

In [8]:
df_loan_strip.to_json('data/ppp_loan_strip.json')

In [10]:
df_loan_strip.to_csv('data/ppp_loan_strip.csv')

In [20]:
df_loan_strip.sort_values(by='LoanRange')

,LoanRange,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,JobsRetained
0,a $5-10 million,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,295.0
492060,a $5-10 million,THIRSTY LION EXPANSION LLC,829 SE 9th Ave Ste 202,PORTLAND,OR,97214.0,722511.0,Limited Liability Company(LLC),500.0
492059,a $5-10 million,"THE CORVALLIS CLINIC, P.C.",444 NW Elks Drive,CORVALLIS,OR,97330.0,621111.0,Corporation,500.0
492058,a $5-10 million,"TEC OF CALIFORNIA, INC.",750 NE Columbia Blvd.,PORTLAND,OR,97211.0,441228.0,Corporation,480.0
492057,a $5-10 million,SWANSON GROUP INC,2635 OLD HWY 99 S,ROSEBURG,OR,97471.0,321113.0,Corporation,NaN
...,...,...,...,...,...,...,...,...,...
138998,"e $150,000-350,000",HARRISON HOUSE COMMUNITY PROGRAMS INC,1415 PULASKI HWY,NEWARK,DE,19702.0,813410.0,Limited Liability Company(LLC),28.0
138999,"e $150,000-350,000",HARVARD ENVIRONMENTAL INC,760 PULASKI HIGHWAY,BEAR,DE,19701.0,541620.0,Subchapter S Corporation,NaN
139000,"e $150,000-350,000",HARVEST COMMUNITY DEVELOPMENT CORPORATION,2205 Lancaster Ave,WILMINGTON,DE,19805.0,611110.0,Professional Association,0.0
138990,"e $150,000-350,000","HABITAT FOR HUMANITY OF NEW CASTLE COUNTY, INC.",1920 Hutton Street,WILMINGTON,DE,19802.0,236115.0,Non-Profit Organization,32.0
661217,"e $150,000-350,000",POPPYCOCKS INC,NaN,NaN,XX,NaN,444220.0,NaN,NaN

# Create Loan Type Category Column

In [46]:
df_loan_strip['LoanCat'] = df_loan_strip.apply(lambda row: re.search(r"[abcde]", row['LoanRange'])[0], axis=1)

<ipython-input-46-c732ee95b3bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loan_strip['LoanCat'] = df_loan_strip.apply(lambda row: re.search(r"[abcde]", row['LoanRange'])[0], axis=1)

In [47]:
del df_loan_strip['LoanRange']

In [38]:
df_loan_strip.head()

NameError: name 'df_loan_strip' is not defined

In [75]:
type(df_loan_strip.iloc[661217].Address)

float

In [105]:
na_addr = df_loan_strip[df_loan_strip['Address'].isna()]
na_city = df_loan_strip[df_loan_strip['City'].isna()]
na_zip = df_loan_strip[df_loan_strip['Zip'].isna()]
na_jobs = df_loan_strip[df_loan_strip['JobsRetained'].isna()]
zero_jobs = df_loan_strip[df_loan_strip['JobsRetained'] == 0]

In [106]:
na_city.shape, na_addr.shape, na_zip.shape, na_jobs.shape, zero_jobs.shape

((15, 9), (17, 9), (16, 9), (40506, 9), (48922, 9))

In [111]:
loan_type_list = ['a', 'b', 'c', 'd', 'e']

for l_type in loan_type_list:
    df_loan_strip[df_loan_strip['LoanCat'] == l_type].to_csv('data/loan_strip_cat' + l_type.capitalize() + '.csv')

### 13% of borrowers reported zero jobs retained

In [112]:
df_loan[df_loan['JobsRetained'].isna()].size/df_loan_strip.size

0.10890608946923204

In [ ]:
df_loan[df_loan['JobsRetained'] == 0].size/df_loan_strip.size

### Remove null and invalid states

In [15]:
df_addr = df_loan[['LoanRange', 'Address', 'City', 'State', 'Zip']].dropna()

In [16]:
df_addr[df_addr['State'] == 'XX']

,LoanRange,Address,City,State,Zip
661203,"d $350,000-1 million",1850 BOYER AVE E,SEATTLE,XX,98112.0
661204,"d $350,000-1 million",1661 MARTIN RANCH RD,SAN BERNARDINO,XX,92407.0
661205,"d $350,000-1 million",7684 Southrail Road,NORTH CHARLESTON,XX,29420.0
661206,"d $350,000-1 million",2410 Highway 15 South,SUMTER,XX,29150.0
661209,"e $150,000-350,000",501 State Road 13,SAINT JOHNS,XX,32259.0

In [17]:
df_addr = df_addr[df_addr['State'] != 'XX']

In [18]:
len(df_addr)

661195

# Geocoder lib

In [13]:
import pandas as pd

In [14]:
a_addr = pd.read_csv('data/loan_strip_catA.csv')

In [16]:
del a_addr['Unnamed: 0']

In [26]:
len(a_addr)

4840

In [42]:
a_addr.head()

,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,JobsRetained,LoanCat,full_addr
0,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,295.0,a,"7000 Uula St, BARROW, AK"
1,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,215.0,a,"7000 East Palmer Wasilla Hwy, PALMER, AK"
2,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,367.0,a,"2606 C Street, ANCHORAGE, AK"
3,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),0.0,a,"11001 O'MALLEY CENTRE DRIVE, ANCHORAGE, AK"
4,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,267.0,a,"1740 S. CHUGACH ST, PALMER, AK"

def construct_full_addr(row):
    a_addr['full_addr'] = ((row['Address'].split(',')[0] + ', ' 
                            + row['City'] + ', ' + row['State']))

# Add full address to DF

In [41]:
a_addr['full_addr'] = a_addr.apply(lambda row: (row['Address'].split(',')[0] + ', ' 
                            + row['City'] + ', ' + row['State']), axis=1)

In [49]:
test_addr = []
for i in range(len(a_addr)):
    test_addr.append(a_addr.iloc[i]['full_addr'])

In [51]:
len(test_addr)

4840

In [64]:
a_addr['latlng'] = a_addr.apply(lambda row: geo.osm(row['full_addr']), axis=1)

In [65]:
a_addr

,BusinessName,Address,City,State,Zip,NAICSCode,BusinessType,JobsRetained,LoanCat,full_addr,latlng
0,"ARCTIC SLOPE NATIVE ASSOCIATION, LTD.",7000 Uula St,BARROW,AK,99723.0,813920.0,Non-Profit Organization,295.0,a,"7000 Uula St, BARROW, AK","[[Samuel Simmonds Memorial Hospital, 7000, Uul..."
1,CRUZ CONSTRUCTION INC,7000 East Palmer Wasilla Hwy,PALMER,AK,99645.0,238190.0,Subchapter S Corporation,215.0,a,"7000 East Palmer Wasilla Hwy, PALMER, AK","[[East Palmer-Wasilla Highway, Palmer, Matanus..."
2,"I. C. E. SERVICES, INC",2606 C Street,ANCHORAGE,AK,99503.0,722310.0,Corporation,367.0,a,"2606 C Street, ANCHORAGE, AK","[[2606, C Street, Campbell, Anchorage, Alaska,..."
3,KATMAI HEALTH SERVICES LLC,"11001 O'MALLEY CENTRE DRIVE, SUITE 204",ANCHORAGE,AK,99515.0,621111.0,Limited Liability Company(LLC),0.0,a,"11001 O'MALLEY CENTRE DRIVE, ANCHORAGE, AK","[[11001, O'Malley Centre Drive, Anchorage, Ala..."
4,MATANUSKA TELEPHONE ASSOCIATION,1740 S. CHUGACH ST,PALMER,AK,99645.0,517311.0,Cooperative,267.0,a,"1740 S. CHUGACH ST, PALMER, AK","[[1740, South Chugach Street, Palmer, Matanusk..."
...,...,...,...,...,...,...,...,...,...,...,...
4835,L & H INDUSTRIAL INC.,913 L & J Court,GILLETTE,WY,82718.0,333120.0,Subchapter S Corporation,260.0,a,"913 L & J Court, GILLETTE, WY","[[913, L & J Court, Gillette, Campbell County,..."
4836,NORTH LINCOLN COUNTY HOSPITAL DISTRICT,901 Adams Street,AFTON,WY,83110.0,622110.0,Non-Profit Organization,428.0,a,"901 Adams Street, AFTON, WY","[[Star Valley Health, 901, Adams Street, Osmon..."
4837,"POWELL VALLEY HEALTCH CARE, INC.",777 Avenue H,POWELL,WY,82435.0,622110.0,Non-Profit Organization,449.0,a,"777 Avenue H, POWELL, WY","[[Powell Hospital, 777, Avenue H, Powell, Park..."
4838,"REDI SERVICES, LLC",225 W OWEN ST,LYMAN,WY,82937.0,213112.0,Limited Liability Company(LLC),460.0,a,"225 W OWEN ST, LYMAN, WY","[[225, West Owen Street, Lyman, Uinta County, ..."
4839,TRIHYDRO CORPORATION,1252 Commerce Dr,LARAMIE,WY,82070.0,541330.0,Corporation,477.0,a,"1252 Commerce Dr, LARAMIE, WY","[[Commerce Drive, Laramie, Albany County, Wyom..."

In [66]:
getsize(a_addr)

6006789

In [85]:
type(a_addr)

pandas.core.frame.DataFrame

In [86]:
type(g)

geocoder.osm.OsmQuery

In [70]:
import pickle

In [69]:
a_addr.iloc[0]['latlng'].latlng

[71.297403, -156.72989601511108]

In [53]:
g = geo.osm(a_addr.iloc[0]['full_addr'])

https://stackoverflow.com/questions/449560/how-do-i-determine-the-size-of-an-object-in-python

In [61]:
import sys
from types import ModuleType, FunctionType
from gc import get_referents

# Custom objects know their class.
# Function objects seem to know way too much, including modules.
# Exclude modules as well.
BLACKLIST = type, ModuleType, FunctionType


def getsize(obj):
    """sum size of object & members."""
    if isinstance(obj, BLACKLIST):
        raise TypeError('getsize() does not take argument of type: '+ str(type(obj)))
    seen_ids = set()
    size = 0
    objects = [obj]
    while objects:
        need_referents = []
        for obj in objects:
            if not isinstance(obj, BLACKLIST) and id(obj) not in seen_ids:
                seen_ids.add(id(obj))
                size += sys.getsizeof(obj)
                need_referents.append(obj)
        objects = get_referents(*need_referents)
    return size

In [1]:
g

NameError: name 'g' is not defined

In [24]:
import geocoder as geo
no_latlng = []
for addr in test_addr:
    g = geo.osm(addr)
    if g.latlng is None:
        no_latlng.append(addr)
    else:
        print(g.latlng)
    
print(no_latlng)

[71.297403, -156.72989601511108]
[61.5994781, -149.1414633]
[61.196842691387914, -149.88684249310444]
[61.120856, -149.861543]
[61.58704402553256, -149.110754]
[61.16275579511191, -149.98675425428237]
[59.65246045, -151.55007250373038]
[61.188151425240115, -149.87396846923346]
[61.1844576, -149.8866635]
['3700 Centerpoint Drive, ANCHORAGE, AK']

In [9]:
s = "11001 O'MALLEY CENTRE DRIVE, SUITE 204"
s = s.split(',')
s[0]

"11001 O'MALLEY CENTRE DRIVE"

In [4]:
import geocoder as geo

In [10]:
g = geo.osm("3700 Centerpoint Drive, ANCHORAGE, AK")

In [11]:
g.latlng

# Map

In [22]:
import folium

# create map
m = folium.Map(location=geo.latlng, zoom_start=12)

# global tooltip
tooltip = 'Click for more info'

# circle marker
folium.CircleMarker(
    location=geo.latlng,
    radius=50,  # use for loan size? scale to size of loan? normalize these?
    popup='50',  # loan value
    color='blue',  # color according to some histogram?
    fill=True,
    fill_color='blue'
).add_to(m)

# generate map
m.save('map.html')

In [53]:
import folium as f

# Separate by loan range

In [69]:
loan = df_addr.iloc[0].LoanRange

In [71]:
import re

In [83]:
loan

'a $5-10 million'

In [75]:
dollars = re.compile(r"(?P<amt>\d+)|(?P<mag>million|thousand)")

In [84]:
re.search(dollars, loan)

In [94]:
lr = loan_range = re.findall(dollars, loan)
lr = str(1.*(int(lr[1][0]) + int(lr[0][0]))/2) + ' ' + lr[2][1]

In [104]:
a = re.search(lr, r"\f")

In [106]:
lr

'7.5 million'

In [60]:
lat, long = geo[0]['geometry']['location']['lat'], geo[0]['geometry']['location']['lng']
m = f.Map([lat, long], zoom_start=12)

In [109]:
f.CircleMarker(
    location=[lat, long],
    radius=7.5,  # use for loan size? scale to size of loan? normalize these?
    popup=str(lr),  # loan value
    color='blue',  # color according to some histogram?
    fill=True,
    fill_color='blue'
).add_to(m)

In [110]:
m.save('ppp_test_map.html')